// Цвета

$color-primary: #ece9e1;
$color-accent: #e43c13;
$color-dark: #181818;

// Шрифты

$font-family-headers: 'Montserrat', Arial, sans-serif;
$font-family-text: 'Roboto', Arial, sans-serif;
$font-size-headers: 2rem;
$font-weight-headers: 700;
$font-weight-subheaders: 500;
$font-size-subheaders: 1.5rem;
$font-standart-size: 1.25rem;
